[Unit]
Description=Benk FIO server
After=network.target
StartLimitIntervalSec=0

[Service]
Environment="HOSTNAME=benk-%m"
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env fio --server

[Install]
WantedBy=multi-user.target
